<div class="donation-item">
  <div class="grid">
    <div class="grid__half">
      <%= donation.label :title %>
      <%= donation.text_field :title, class: "#{'changed' if changeset.has_key?(:title)}" %>
      <%= donation.label :amount %>
      <%= donation.text_field :amount, class: "#{'changed' if changeset.has_key?(:amount)}" %>
      <%= donation.label :best_before_date %>
      <%= donation.text_field :best_before_date, class: "#{'changed' if changeset.has_key?(:best_before_date)}" %>
      <%= donation.label :availible_from %>
      <%= donation.text_field :availible_from, class: "#{'changed' if changeset.has_key?(:availble_from)}" %>
    </div>
    <div class="grid__half">
      <label>Tiefkühlware</label>
      <%= donation.radio_button(:froozen, "true") %>
      <span class="radio__label">Ja</span>
      <%= donation.radio_button(:froozen, "false") %>
      <span class="radio__label">Nein</span>
      <label>Tiefkühlware</label>
      <%= donation.radio_button(:supporting_document, "true") %>
      <span class="radio__label">Ja</span>
      <%= donation.radio_button(:supporting_document, "false") %>
      <span class="radio__label">Nein</span>
      <%= donation.label :fetch_time %>
      <%= donation.text_field :fetch_time, class: "#{'changed' if changeset.has_key?(:fetch_time)}" %>
    </div>
  </div>
</div>