<%= form_for(@donation_case) do |f| %>
  <% if @donation_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation_case.errors.count, "error") %> prohibited this donation_case from being saved:</h2>

      <ul>
      <% @donation_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="donation-case-form">
      <h1><%= f.text_field :title, placeholder: "Spendentitel" %></h1>

    <div class="donation-case-form__section clearfix">
      <div c lass="grid">
        <div class="grid__half">
          <h3>Organisation</h3>
          <%= f.label :company_name %>
          <%= f.text_field :company_name %>
          <%= f.label :address %>
          <%= f.text_field :address %>
          <%= f.label :plz_and_city %>
          <%= f.text_field :plz_and_city %>
        </div>
        <div class="grid__half">
          <h3>Ansprechpartner</h3>
          <%= f.label :contact_name %>
          <%= f.text_field :contact_name %>
          <%= f.label :phone %>
          <%= f.text_field :phone %>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      </div>
    </div>

    <%= f.fields_for :donations do |donation| %>
          <div class="donation-item">
            <div class="grid">
              <div class="grid__half">
                <%= donation.label :title %>
                <%= donation.text_field :title %>
                <%= donation.label :amount %>
                <%= donation.text_field :amount %>
                <%= donation.label :best_before_date %>
                <%= donation.text_field :best_before_date %>
                <%= donation.label :availible_from %>
                <%= donation.text_field :availible_from %>
              </div>
              <div class="grid__half">
                <label>Tiefk端hlware</label>
                <%= donation.radio_button(:froozen, "true") %>
                <span class="radio__label">Ja</span>
                <%= donation.radio_button(:froozen, "false") %>
                <span class="radio__label">Nein</span>
                <label>Tiefk端hlware</label>
                <%= donation.radio_button(:supporting_document, "true") %>
                <span class="radio__label">Ja</span>
                <%= donation.radio_button(:supporting_document, "false") %>
                <span class="radio__label">Nein</span>
                <%= donation.label :fetch_time %>
                <%= donation.text_field :fetch_time %>
              </div>
            </div>
          </div>
        <% end %>

    <%= react_component("Donations", {items: []}) %>


    <%= f.fields_for :donations do |donation| %>
      <div class="donation-item">
        <div class="grid">
          <div class="grid__half">
            <%= donation.label :title %>
            <%= donation.text_field :title %>
            <%= donation.label :amount %>
            <%= donation.text_field :amount %>
            <%= donation.label :best_before_date %>
            <%= donation.text_field :best_before_date %>
            <%= donation.label :availible_from %>
            <%= donation.text_field :availible_from %>
          </div>
          <div class="grid__half">
            <label>Tiefk端hlware</label>
            <%= donation.radio_button(:froozen, "true") %>
            <span class="radio__label">Ja</span>
            <%= donation.radio_button(:froozen, "false") %>
            <span class="radio__label">Nein</span>
            <label>Tiefk端hlware</label>
            <%= donation.radio_button(:supporting_document, "true") %>
            <span class="radio__label">Ja</span>
            <%= donation.radio_button(:supporting_document, "false") %>
            <span class="radio__label">Nein</span>
            <%= donation.label :fetch_time %>
            <%= donation.text_field :fetch_time %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="button button--light donation-case-form__add-donation-case-button">
      Neuer Spendenposten
    </div>
    <%= f.submit "Submit", class: "button--primary button--large donation-case-form__submit-button" %>
  </div>
<% end %>
