<%= form_for(@donation_case) do |f| %>
  <% if @donation_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation_case.errors.count, "error") %> prohibited this donation_case from being saved:</h2>

      <ul>
      <% @donation_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="donation-case-form">
      <h1><%= f.text_field :title, placeholder: "Spendentitel" %></h1>

    <div class="donation-case-form__section">
      <div class="grid">
        <div class="grid__half">
          <h3>Organisation</h3>
          <label>Name</label>
          <input type="text"/>
          <label>Straße und Hausnummer</label>
          <input type="text"/>
          <label>Postleitzahl und Ort</label>
          <input type="text"/>
        </div>
        <div class="grid__half">
          <h3>Ansprechpartner</h3>
          <label>Name</label>
          <input type="text"/>
          <label>Telefon</label>
          <input type="text"/>
          <label>E-mail</label>
          <input type="text"/>
        </div>
      </div>
    </div>
    <div class="donation-item">
      <div class="grid">
        <div class="grid__half">
          <label>Name</label>
          <input type="text"/>
          <label>Menge</label>
          <input type="text"/>
          <label>Mindesthaltbarkeitsdatum</label>
          <input type="text"/>
          <label>Verfügbar ab</label>
          <input type="text"/>
        </div>
        <div class="grid__half">
          <label>Tiefkühlware</label>
          <input type="radio" name="tief" value="yes"><span class="radio__label">Ja</span>
          <input type="radio" name="tief" value="no"><span class="radio__label">Nein</span>
          <label>Spendenbeleg</label>
          <input type="radio" name="Spendenbeleg" value="yes"><span class="radio__label">Ja</span>
          <input type="radio" name="Spendenbeleg" value="no"><span class="radio__label">Nein</span>
          <label>Abholzeiten</label>
          <input type="text"/>
        </div>
      </div>
    </div>
    <div class="button button--light donation-case-form__add-donation-case-button">
      Neuer Spendenposten
    </div>
    <%= f.submit "Submit", class: "button--primary button--large donation-case-form__submit-button" %>
  </div>
<% end %>
