<%= link_to "Neue Spende", new_donation_case_path, class: "button" %>
<br/><br/>
<div class="text"/>
  Spenden mit neuen oder veränderten Angaben durch den Spender.
</div>
<table>
  <thead>
    <tr>
      <th>Spendentitel</th>
      <th>Organisation</th>
      <th>Erstellt am</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @changed_donation_cases.each do |donation_case| %>
      <tr>
        <td><%= donation_case.title || "Noch kein Title" %>
        <td><%= donation_case.company_name || "Noch kein Organisation" %>
        <td><%= donation_case.created_at.to_date.strftime("%d.%m.%y") %>
        <td>
          <%= link_to 'Show', donation_case %>
          <%= link_to 'Edit', edit_donation_case_path(donation_case, token: donation_case.token) %>
          <%= link_to 'Destroy', donation_case_path(donation_case, token: donation_case.token), method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div class="text"/>
  Unveränderte Spenden
</div>
<table>
  <thead>
      <th>Spendentitel</th>
      <th>Organisation</th>
      <th>Erstellt am</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unchanged_donation_cases.each do |donation_case| %>
      <tr>
        <td><%= donation_case.title || "Noch kein Title" %>
        <td><%= donation_case.company_name || "Noch kein Organisation" %>
        <td><%= donation_case.created_at.strftime("%d.%m.%y") %>
        <td>
          <%= link_to 'Show', donation_case %>
          <%= link_to 'Edit', edit_donation_case_path(donation_case, token: donation_case.token) %>
          <%= link_to 'Destroy', donation_case_path(donation_case, token: donation_case.token), method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>
