<!DOCTYPE html>
<html>
<head>
  <title>Stellwerk</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/header' %>

<% flash.each do |name, msg| %>
  <div data-alert class="alert-box text-center">
    <% if name == "closed"%>
      <div class="centered closed" >
        <%= msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% elsif name == "reopen"%>
      <div class="centered reopen" >
        <%= msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% else %>
      <div class="centered">
        <%= name %>
        <%= msg %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  </div>
<% end %>

<div class="container">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
<script>
  $(function() {
    return $(".close").on("click", function(e) {
      return $(".alert-box").hide();
    });
  });
</script>
</html>